.bigCounter{
    display: flex;
    justify-content: center;
    background-color: pink;
    color: white;
}

.bigCounter div { 
    line-height: 5px;
    font-size: 120px;
    padding: 10px;
}

.seconds {
    font-size: 100px;
    padding: 10px;
}